.App {
  text-align: center;
}

/* nav styling */

nav {
  background-color: lightgray;
  padding: 20px;
}

nav a {
  color: black;
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
}

nav a:hover {
  color: deepskyblue;
}

/* active styling */

.selected {
  color: dodgerblue;
}

/* Home page styling */
.Home {
  /*background-image: url('https://static1.squarespace.com/static/5525bbf5e4b026f75314c09b/t/5535055ee4b0f20e2b62ace7/1429538153345/blog.jpg?format=1500w');*/
  height: 575px;
  width: 100%;
}
